<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Simple Bean -->
    <bean id="alien1" class="com.telusko.Alien">
        <!--    here we create bean tags -->
        <property name="age" value="21"></property> //setter injection
    </bean>

    <bean id="lap" class="com.telusko.Laptop">
        <!--    here we create bean tags -->

    </bean>


</beans>

