<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Simple Bean -->
    <bean id="alien1" class="com.telusko.Alien">
        <!--    here we create bean tags -->
        <!--    setter injection    -->
        <property name="age" value="21"></property>
        <property name="lap" ref="lap1"></property>
    </bean>

    <bean id="lap1" class="com.telusko.Laptop">
        <!--        bean for the laptop-->
    </bean>


</beans>

